<header id="header" role="banner" class="line pam">
	<h1>Font XPlor</h1>
</header>
<aside class="mod left w20 mrs pam aside">
		<nav id="navigation" role="navigation">
			<ul class="pa0 unstyled">
				<li class="pas" ng-repeat="font in allfonts" ng-style="getFontFamily( font )">
					<a href="#/{{ font.fontName }}">
						{{ font.fontName }}
					</a>
				</li>
    		</ul>
		</nav>
	</aside>
	<div id="main" role="main" class="mod pam" ng-if="currentFont" ng-style="getFontFamily( currentFont )">
		<p class="">Lorem Salu bissame ! Wie geht's les samis ? Hans apporte moi une Wurschtsalad avec un picon bitte, s'il te plaît.
		  Voss ? Une Carola et du Melfor ? Yo dû, espèce de Knäckes, ch'ai dit un picon !</p>
		<p class="">Yoo ch'ai lu dans les DNA que le Racing a encore perdu contre Oberschaeffolsheim. Verdammi et moi ch'avais donc parié deux knacks et une flammekueche. Ah so ? T'inquiète, ch'ai ramené du schpeck, du chambon, un kuglopf et du schnaps dans mon rucksack. Allez, s'guelt ! Wotch a kofee avec ton bibalaekaess et ta wurscht ? Yeuh non che suis au réchime, je ne mange plus que des Grumbeere light et che fais de la chym avec Chulien. Tiens, un rottznoz sur le comptoir.</p>
		<p class="">Tu restes pour le lotto-owe ce soir, y'a baeckeoffe ? Yeuh non, merci vielmols mais che dois partir à la Coopé de Truchtersheim acheter des mänele et des rossbolla pour les gamins. Hopla tchao bissame ! Consectetur adipiscing elit</p>
	</div>
<footer id="footer" role="contentinfo" class="line pam txtcenter">
	Graphic design is fun, Web development is cool, I love my job!
</footer>
